{
  "extends": "airbnb-base",
  "rules": {
    "eqeqeq": "off",
    "curly": "error",
    "quotes": ["error", "double"],
    "no-underscore-dangle": ["error", { "allow": ["foo_", "_bar", "_id"] }]
  }

}